*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}
html{
    scroll-padding-top: 80px;
}
.nav-img{
    width: 100px;
    padding-left: 10px;
}

.navbar ul li a {
    font-size: 17px;
    color: #fff;
    padding: 5px;
}

.nav-ul{
    color: #fff;
}

.navbar{
    width: 100%;
    position: fixed !important;
    background-color:#131313 !important;
    z-index: 3;
}
.navbar-nav{
    --bs-nav-link-hover-color: rgb(255 255 255 / 100%) !important;
}
.navbar-nav .nav-link.active{
    color:#c6c6c6 !important;
}
.fa-bars{
    color: #fff !important;
    font-size: 30px;
}
.navbar-toggler{
    border: none !important;
}
.navbar-toggler:focus{
    box-shadow:none !important;
}
@media (max-width:991) {
    .navbar ul li a{
        font-size: 50px !important;
    }  
}
#home{
    width: 100%;
    height: 100vh;
    background-color: #1e272e;
}
#about{
    width: 100%;
    height: auto;
    background-color: #191b20;
    padding-bottom: 100px;
}
.d-block{
    height: 100vh;
    object-fit:cover;
  }
  .img-base{
    position: relative;
    width: 350px;
    height: 500px;
    top: 70px;
    left: 50px;
    overflow: hidden;
  }
  .img{
 width: 100%;
    position: absolute;
   top: 0px;
   right: 0px;
   padding-bottom: 20px;
    
 
  }
.row ,.col{
    padding: 0;
    margin: 0;
} 
.details-about{
position: relative;
right: 100px;
color: rgb(255, 255, 255);
padding-top: 50px;
padding-right: 70px;
padding-bottom: 30px;
margin-left: 20px;
}
.details-about p{
    color: #cfcfcf;
}
@media (max-width:992px) {
    .img-base{
        top: 50px;
        left: 0px;
        margin-bottom: 30px;

    }
    .details-about{
        position: relative;
        right: 0px;
        padding-right: 0px;
        padding-left: 0px;
        margin-left: 20px;
    }
}
@media (max-width:1196px) {
    .details-about{
        padding-left: 70px;
        position: relative;
        right: 60px;
    }  
} 
.says{
    color: #fff;
    margin-top: 70px;
    
}
.says hr{
    width: 60%;
} 
  .swiper {
    width: 100%;
    height: 100%;
    margin-top: 50PX;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .card-s{
    width: 450px;
    height: 400px;
    background-color: #2e2e2e;
    margin: 10px;
    overflow: hidden;
  }
  .details-card{
    display: flex;
    align-items: center;
    margin-left: 20px;
    color: #fff;
  }
  .card-text{
    color: #fff;
  }
  .imgbx{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 20px;
    border: #c0c0c0 solid 5px;
  }
  .details-card span{
    margin-left: 20px;
  }
  .details-card span h5{
    color: #b3b3b3;
  }
  .card-img{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  }
  .social-icons{
    font-size: 22px;
    color: #a3a3a3;
    position: relative;
    top: 60px;

  }
  .social-icons i {
    margin: 10px;
   
  }
  .card-s:hover .social-icons, .card-s:focus .social-icons{
    position: relative;
    top: 0;
    transition: all 0.3s ease;;
   
  }
  .social-icons i:hover{
    color: #ffffff;
  }
  .fa-quote-right{
    position: absolute;
    right: 0;
    font-size: 100px;
    margin-right: 10px;
    color: #949494;
    opacity: 0.2;
  }
  .swiper-pagination-bullet{
    background: #ffffff;
  }
  .swiper-button-next , .swiper-button-prev{
    --swiper-theme-color: #b1b1b1;
  }
  .course-title{
    color: #ffffff;
  }
  .course-title hr{
    width: 60%;
  }
  .card-c{
    width: 300px;
    height: 600px;
    overflow: hidden;
    margin-top: 50px;
    background-color:#d2cfcf;
    border: none;
  }
  .imgbox{
    width: 320px;
    height: 200px;
    position: relative;
    overflow: hidden;
  }
  .imgbox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .card-c .card-body{
    padding-bottom: 0px;
  }
  .card-last{
    width: 100%;
    height: 500px;
    background-color: #2e2e2e;
    margin: 0;
    padding: 10px;
    padding-left: 20px;
    padding-top: 20px;
    color: #fff;
    font-size: 15px;
    
  }
  .card-details{
    position:relative;
    display:inline-block;
  }
  .fa-clock{
    color: #fff;
    align-items: center;
  }
  .price-card{
    position: relative;
    float: right;
    background-color: #1b1b1b;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 25px;
    padding-left: 7px;
    color: #ffffff;
    font-weight: 600;
    border-radius: 5px;
    
   
    
  }
.card-c .card-last .btn{
  background-color: #383d41;
  color: #fff;
  margin-top: 15px;
  

}
.row-of-course-card{
  margin-left: 50px;
  margin-top: 60px;
}
.row-of-course-card .btn-outline-light{
  margin-top: 50px;
  font-size: 20px;
  font-weight: 600;
 
}
@media (max-width:992px) {
  .row-of-course-card{
    margin-left: 0;
  }
}
.p-details{
  width: 200px;
  height: 200px;
  margin: 50px;
  font-weight: 600;
  color: #ffffff;
  padding-top: 30px;


  
}
.p-c-d{
  font-size: 45px;
  font-weight: 600;
}
.purecounter{
  font-size: 40px;
}
.progress-card{
  width: 100%;
  height: auto;
  background-image: url('assets/img/img.jpg');
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px;
  margin-top: 50px;
  margin-bottom: 50px;
  
}
.overlay{
  background-color: #0d223462;
}
.advantages{
  color: #fff;
  margin-top: 60px;
}
.advantages hr{
  width: 40%;
}
.learning-img{
  margin-top: 50px;
  width: 50%;
  position: relative;
  float: left;
  
}
.learning-img img{
  width: 600px;


}
.a-details{
  margin-left: 50px;
  margin-top: 70px;
  font-size: 25px;
}
.facts{
  margin-left: 50px;
  margin-top: 50px;
  font-size: 28px;
}
.facts span{
  position: relative;
  float: left;
  padding-top: 10px;
  padding-right: 10px;

}
.facts span i {
  width: 60px;
  height: 60px;
  background-color: #5280fc;
  border-radius: 50%;
  padding-top:15px;
  float: left;
  margin-right: 10px;
}
@media(max-width:1248px){
  .learning-img img{
    width: 480px;
  }
  
}
@media(max-width:992px){
  .facts span{
position: relative;
float: none;

  }
  .facts span i {
    position: relative;
    float: none;
  }
  .learning-img{
    position: relative;
    float:none;
    
  }
}
@media(max-width:700px){
  .learning-img img{
    width: 300px;
    margin: 0;
    padding: 0;
  }
  .a-details{
    font-size: 20px;
  }
  .facts span{
    font-size: 25px;
  }
}
@media(max-width:400px){
  .learning-img img{
    width: 250px;
    margin: 0;
    padding: 0;
  }
  .facts span{
    font-size: 20px;
  }
  .facts span i {
    width: 50px;
    height:50px;

  }
}