*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}
html{
    scroll-padding-top: 80px;
}
.nav-img{
    width: 100px;
    padding-left: 10px;
}

.navbar ul li a {
    font-size: 17px;
    color: #fff;
    padding: 5px;
}

.nav-ul{
    color: #fff;
}

.navbar{
    width: 100%;
    position: fixed !important;
    background-color:#202327 !important;
    z-index: 3;
}
.navbar-nav{
    --bs-nav-link-hover-color: rgb(255 255 255 / 100%) !important;
}
.navbar-nav .nav-link.active{
    color:#c6c6c6 !important;
}
.fa-bars{
    color: #fff !important;
    font-size: 30px;
}
.navbar-toggler{
    border: none !important;
}
.navbar-toggler:focus{
    box-shadow:none !important;
}
@media (max-width:991) {
    .navbar ul li a{
        font-size: 50px !important;
    }  
}
#home{
    width: 100%;
    height: 100vh;
    background-color: #1e272e;
}
#about{
    width: 100%;
    height: auto;
    background-color: #171b1d;
    padding-bottom: 100px;
}
.d-block{
    height: 100vh;
    object-fit:cover;
  }
  .img{
    width: 350px;
    height:auto;
    position: relative;
   top: 100px;
   right: 10px;
   padding-bottom: 20px;
    
 
  }
.row ,.col{
    padding: 0;
    margin: 0;
} 
.details-about{
position: relative;
right: 100px;
color: rgb(255, 255, 255);
padding-top: 50px;
padding-right: 70px;
}
@media (max-width:992px) {
    .img{
        top: 50px;

    }
    .details-about{
        padding-left: 70px;
        position: relative;
        right: 0px;
    }
}
@media (max-width:1196px) {
    .details-about{
        padding-left: 70px;
        position: relative;
        right: 60px;
    }  
}